.homeContent{
    padding-top: 60px;
}

.servicesContent{
    padding: 60px;
}

.scheduleContent{
    padding-top: 60px;
}

.errorpageContent{
    padding-top: 60px;
}




/* nav bar menu */
.navbar-collapse {
    display: none;
}

.navbar-collapse.collapsed {
    display: block;
}


@media (min-width: 759) {
    .navbar-toggler {
        display: none;
    }

}


#navbarLogo{
    width: 15rem;
}

.navbar-dark .navbar-nav .nav-item .nav-link{
  color:#a1a4a8;
}




/* ------Styling for Service page ------*/

.servicesContent h1{
    padding: 5px;
}

#servicesImage{
    width: 8rem;
    
}

.service-section{
    padding: 10px;
    display:grid;
    grid-template-rows: 1fr;
    gap:10px;
    align-items: center;
}

.service-section-content{
    grid-row: 1;
}

.service-section-image{
    grid-row:1;
}






@media (max-width:759px) {
    .service-section{
        padding: 10px;
    }

   .service-section-image{
    grid-row: 2;
    text-align: center;
    padding: 10px;
   }
}





/* ----------------------------------- */